.title-main {
    text-align: center;
    margin-top: 13rem;
}

.btn-primary {
    font-size: large;
}

.ball-one-enter-active {
    opacity: 0;
    border: 0.1rem solid red;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 100%;
    z-index: -1;
    /*↓は必要ないかもしれないヨ*/
    display: block;
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
}

.ball-one-enter-done {
    transition: all 3s ease;
    opacity: 1;
    border: 0.1rem solid blue;
    border-radius: 50%;
    position: absolute;
    top: 245px;
    left: 630px;
    z-index: -1;
    /*↓は必要ないかもしれないヨ*/
    display: block;
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
}

/*.ball-one-enter-exit-active {*/
/*    opacity: 0;*/
/*    transition: all 2s ease;*/
/*    display: block;*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*    border: 0.1rem solid;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    box-sizing: border-box;*/
/*    top: -130px;*/
/*    left: 500px;*/
/*    z-index: -1*/
/*}*/

/*.ball-one-enter-exit-done {*/
/*    opacity: 0;*/
/*    transition: all 2s ease;*/
/*    display: block;*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*    border: 0.1rem solid;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    box-sizing: border-box;*/
/*    top: -130px;*/
/*    left: 200px;*/
/*    z-index: -1*/
/*}*/