.home {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.logo-main {
    height: 30vh;
    width: 40vw;
}

.title-container {
    height: 50vh;
    align-items: center;
    text-align: center;
}

.content-body {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}