
/*----------共通------------*/
.space-1-vertical {
    margin-top : 1rem;
}

.margin-zero {
    margin: 0;
}

.margin-top-zero {
    margin-top: 0;
}

.padding-top-zero {
    padding-top: 0;
}

.margin-top-1 {
    margin-top : 1rem;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-size-body {
    font-size: 20px;
}

.text-size-sub-title {
    font-size: 1.6rem;
}

.text-align-sub-title {
    margin-left: 1rem;
}

.content-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-sub-title {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 4rem;
}

.icon-content-top {
    align-items: center;
    height: 9rem;
}

.icon-navbar-item {
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.icon-navbar-logo {
    height: 4rem;
}

.content-top {
    margin-top: 2rem;
}

/*----------Home-------------*/

.title-block {
    height: 10rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
}

.content-block {
    background-color: rgba(255,255,255,0);
    color: black;
    /*border: 0.1rem solid black;*/
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* ----------About---------*/
.image-profile {
    height: 120px;
    width: 120px;
}

/* ----------Works---------*/
.image-works {
    height: 10px;
    width: 10px;
}


.line-vertical {
    border: solid;
    width: 1rem;
    /*height: 18rem;*/
}