
/*----------共通------------*/
.space-1-vertical {
    margin-top : 1rem;
}

.margin-zero {
    margin: 0;
}

.margin-top-zero {
    margin-top: 0;
}

.padding-top-zero {
    padding-top: 0;
}

.margin-top-1 {
    margin-top : 1rem;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-size-body {
    font-size: 20px;
}

.text-topic {
    font-size: 1.4rem;
    margin-top: 0;
    padding-top: 0;
    text-align: right;
}

.text-align-sub-title {
    margin-left: 1rem;
}

.text-navbar {
    color: #ffffff;
    opacity: 0.8;
}

.content-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-topic {
    margin-top: 6rem;
    height: 4rem;
    padding-right: 0;
}

.icon-content-top {
    align-items: center;
    height: 4rem;
}

.icon-navbar-item {
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.icon-navbar-button {
    paddingBottom: 0.3rem;
    opacity: 0.9;
    paddingInline: 1rem;
    border: solid;
    borderColor: #a1a0a0;
}

.icon-navbar-logo {
    height: 4rem;
    padding-left: 5px;
}

.icon-scroll-arrow-down {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 6rem;
}


.content-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    color: #151414;
    opacity: 0.8;
}

.content-title-border {
    border: solid;
    border-color: #151414;
    width: 60%;
}

.content-top {
    margin-top: 10rem;
}

.content-body {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.content-front {
    z-index: 1;
}

.content-animation{
    padding-top: 1rem;
}

/*----------Home-------------*/

.content-block {
    background-color: rgba(255,255,255,0);
    color: black;
    /*border: 0.1rem solid black;*/
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* ----------About---------*/
.image-profile {
    height: 120px;
    width: 120px;
}

/* ----------Works---------*/
.image-works {
    height: 10px;
    width: 10px;
}


.line-vertical {
    border: solid;
    width: 12rem;
    height: 2rem;
}

.box-a {
    border: solid;
    color: cornflowerblue;
    width: 3rem;
    height: 3rem;
    padding-right:0;
    margin:0;
}

.box-b {
    border: solid;
    color: cornflowerblue;
    width: 3rem;
    height: 3rem;
    padding-right:0;
    margin:0;
}

.background-sticky {
    position: sticky;
    top: 17px;
}

.background-animation-wrapper {
    z-index: -1;
}

.front-animation-wrapper {
    z-index: 3;
}

.nav-menu {
    height: 10rem;
}
