.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangle {
    border-radius: 50px 50px 50px 50px;
}
/*
* {
  border: 1px solid black;
} */
